{% extends 'base.html' %}
{% load static %}

{% block title %}| Login{% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/user.css' %}">

<section>
    <form action="" method="POST" class="card">
        {% csrf_token %}
        <span class="title">Login</span>
        {% for error, text in  form.errors.items %}
            <span class="backend_error">{{text.as_text}}</span>
        {% endfor %}
        {{ form.username }}
        {{ form.password }}
        <button type="submit" id="login-button" class="send">Login</button>
        <span>or</span>
        <a href="{% url 'user_registration' %}">Registration</a>
    </form>
</section>
{% endblock %}

{% block script %}
<script type="text/javascript" src="{% static 'js/login.js' %}"></script>
{% endblock %}



