{% extends 'base.html' %}
{% load static %}

{% block title %}| Login{% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<section>
    <form action="" method="POST" class="card">
        {% csrf_token %}
        <h1>Login</h1>
        {{ form.username }}
        {{ form.password }}
        <button type="submit" id="login-button" class="send">Login</button>
        <span>or</span>
        <a href="{% url 'user_registration' %}">Registration</a>
    </form>
</section>
{% endblock %}

{% block script %}
<script type="text/javascript" src="{% static 'js/status-socket.js' %}"></script>
{% endblock %}



