{% extends 'base.html' %}
{% load static %}

{% block title %}| Registration{% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<section>
    <form action="" method="POST" class="card">
        {% csrf_token %}
        <h1>Registration</h1>
        {{ form.avatar }}
        <label for="id_avatar" class="js-labelFile">
            <i class="fa fa-download" aria-hidden="true"></i>
            <span class="js-fileName">Загрузить фото</span>
        </label>
        {{ form.username }}
        {{ form.password }}
        {{ form.password2 }}
        <button type="submit" class="send">Registration</button>
        <span>or</span>
        <a href="{% url 'user_login' %}">Login</a>
    </form>
</section>

{% endblock %}


{% block script %}

<script type="text/javascript">
    var $label = $('.js-labelFile');
    var labelVal = $label.html();
     
    $('#id_avatar').on('change', function(element) {
        var fileName = '';
        if (element.target.value){
            fileName = element.target.value.split('\\').pop();
        }
        if(fileName){
            $label.addClass('has-file').find('.js-fileName').html(fileName)
        }
        else{
            $label.removeClass('has-file').html(labelVal);
        }
    });
</script>
{% endblock %}
