{% extends 'base.html' %}
{% load static %}

{% block title %}| Registration{% endblock %}
{% block content %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'css/user.css' %}">

<section>
    <form action="" method="POST" class="card" enctype="multipart/form-data">
        {% csrf_token %}
        <span class="title">Registration</span>
        {% for error, text in  form.errors.items %}
            <span class="backend_error">{{text.as_text}}</span>
        {% endfor %}
        {{ form.avatar }}
        <label for="id_avatar" class="avatar_file_upload">
            <i class="fa fa-download" aria-hidden="true"></i>
            <span class="atatar_label">Загрузить фото</span>
        </label>
        {{ form.username }}
        <span class="frontend_error">Username must be >= 3 characters</span>
        <span class="frontend_error exist">Username already exist</span>
        {{ form.password }}
        <span class="frontend_error">Password must be >= 6 characters</span>
        {{ form.password2 }}
        <span class="frontend_error">Passwords not common</span>
        <div id="captcha">
            {{ form.captcha }}
        </div>
        <button type="submit" class="send">Registration</button>
        <span>or</span>
        <a href="{% url 'user_login' %}">Login</a>
    </form>
</section>

{% endblock %}


{% block script %}
<script type="text/javascript" src="{% static 'js/registration.js' %}"></script>
{% endblock %}
